Source: ros-kinetic-open-manipulator-p-simulations
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/open_manipulator_p_simulations
Standards-Version: 3.9.2

Package: ros-kinetic-open-manipulator-p-simulations
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-open-manipulator-p-gazebo
Description: Metapackage for OpenMANIPULATOR-P Simulations
